@import "../../css/units.css";

.target-pane {
    /* Makes columns for the sprite library selector + and the stage selector */
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.stage-selector-wrapper {
    display: flex;
    flex-basis: 72px;
    flex-shrink: 0;
}

.sprite-selector-and-outliner {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
}

[dir="ltr"] .stage-selector-wrapper {
    margin-left: calc($space / 2);
}

[dir="rtl"] .stage-selector-wrapper {
    margin-right: calc($space / 2);
}
